name: Java Testing Maven

on:
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    name: Testing Maven
    runs-on: ubuntu-latest
    env:
      MYSQL_DATABASE_URL: ${{secrets.MYSQL_DATABASE_URL}}
      MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
      MYSQL_DATABASE_USERNAME: ${{secrets.MYSQL_DATABASE_USERNAME}}
      MYSQL_DATABASE_PASSWORD: ${{secrets.MYSQL_DATABASE_PASSWORD}}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Initialize MYSQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -h localhost -e "CREATE DATABASE IF NOT EXISTS $MYSQL_DATABASE;" -u$MYSQL_DATABASE_USERNAME -p$MYSQL_DATABASE_PASSWORD

      - name: Preparing log directory
        run: |
          sudo chmod -R 733 /var/log

      - name: Google Cloud Platform Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{secrets.SERVICE_ACCOUNT_JSON}}'

      - name: Build with Maven
        run: mvn test --file pom.xml